<% include ./partials/header %>

<div class="finish_page" style="display: flex; position: relative;">
    <% include ./partials/navigation %>
    <div class="finish_details">
        <main class="finish_main">
            <% if(status == 'pending') { %>
            <h1 class="finish_header submitted">
                <span class="status">CURRENT STATUS: PENDING</span>
                <div class="finish_service"><%= service %></div>
            </h1>
            <% } %>

            <% if(status == 'approved') { %>
            <h1 class="finish_header approved">
                <span class="status">CURRENT STATUS: APPROVED</span>
                <div class="finish_service"><%= service %></div>
            </h1>
            <% } %>

            <% if(status == 'rejected') { %>
            <h1 class="finish_header rejected">
                <span class="status">CURRENT STATUS: REJECTED</span>
                <div class="finish_service"><%= service %></div>
            </h1>
            <% } %>

            <div class="finish_content">
                <% if(status == 'pending') { %>
                <div class="status_msg submitted">
                    <i class="far fa-clock"></i>
                    Your request has been submitted. Please wait while we are assigning a worker to you.
                </div>
                <% } %>

                <% if(status == 'approved') { %>
                <div class="status_msg approved">
                    <i class="far fa-check-circle"></i>
                    Your request has been successfully approved. Our worker is on his way to your location.
                </div>
                <% } %>

                <% if(status == 'rejected') { %>
                <div class="status_msg rejected">
                    <i class="fas fa-exclamation-circle"></i>
                    <div>
                        Sorry, your request has been rejected. Please make a new request or try again later.
                        <a href="#" style="color: var(--color-primary-dark); text-decoration: underline;">
                            Learn More
                        </a>
                    </div>
                </div>
                <% } %>

                <div class="finish_address">
                    <span class="key"><i class="fas fa-map-marker-alt"></i></span>
                    <%= address %>
                </div>
                <div class="finish_phone">
                    <span class="key"><i class="fas fa-phone"></i></span>
                    +91 <%= currentUser.phone_number %>
                </div>
                <div class="finish_msg">
                    Note: An initial payment of Rs. 100 will be applicable for each service
                </div>
            </div>
        </main>
    </div>
    <% if (worker) {%>
    <div class="finish_worker">
        <h1>WORKER DETAILS</h1>
        <div class="main_details">
            <img src="https://img1.looper.com/img/gallery/audi-may-have-spoiled-who-saves-tony-stark-in-avengers-4/intro-1547480934.jpg"
                alt="">
            <div>
                <div class="worker_detail worker_detail_name">
                    <%= worker.first_name %> <%= worker.last_name %>
                </div>
                <div class="worker_detail worker_detail_phone">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                    <%= worker.phone_number %>
                </div>
            </div>
        </div>
        <div class="worker_detail worker_detail_rating">
            <%= worker.average_rating %> / 5.0
            <span>AVG. RATING</span><br>
            <span> TOTAL REVIEWS: <%= worker.total_reviews %> </span>
        </div>
        <div class="worker_detail">
        </div>
    </div>
    <% } %>

</div>

<% include ./partials/footer %>