<% include ./partials/header %>

<div class="profile_main">
    <div class="sidebar">
        <ul class="list-group">
            <li>HOME</li>
            <li>SERVICES</li>
            <li>CONTACT US</li>
        </ul>

        <div class="license">
            Property of Workforce 2020 Trademark
        </div>

    </div>
    <div class="main">
        <div class="user-info">
            <%= user.first_name %>
            <%= user.last_name %>
        </div>
        <hr>
        <%= user.email_id %> <br>
        <%= user.address %> <br>
        <%= user.created_at %> <br>
        <%= user.phone_number %> <br><br>
    </div>
</div>