<% include ./partials/workerHeader %>

<div class="worker_page" style="display: flex;">
    <% include ./partials/navigation %>
    <main class="worker_main">
        <h1>
            These are jobs currently available for you. <br>
            <span> Choose any one of them and click next. </span>
        </h1>
        <form class="worker_jobs" action="/worker/selectJob" method="POST">
            <% requests.forEach(function(request){ %>
            <input type="radio" name="jobId" id="<%= request.id %>" value="<%= JSON.stringify(request) %>">
            <label for="<%= request.id %>" class="worker_job">
                <%= request.first_name %>
                <%= request.last_name %>
                <%= request.phone_number %>
                <%= request.address %>
                <%= request.job %>
            </label>
            <% }) %>
            <input type="submit" id="submit">
        </form>
        <div class="form_finish">
            <label for="submit" class="btn-default">NEXT</label>
        </div>
    </main>
</div>
<% include ./partials/footer %>